Buton, vs gibi elementlerde kullanılacak renkler: 
#F5EEE6
#FFF8E3
#F3D7CA
#E6A4B4
Uyguluma dili İngilizcedir.
Listeler ve ürünler localstorage'da tutulacak.
Profesyonel görünüm ve kullanımı sağlayacak.